<%= form_with(model: follow_request) do |form| %>
  <% if follow_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(follow_request.errors.count, "error") %> prohibited this follow_request from being saved:</h2>

      <ul>
        <% follow_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :recipient_id, style: "display: block" %>
    <%= form.text_field :recipient_id %>
  </div>

  <div>
    <%= form.label :sender_id, style: "display: block" %>
    <%= form.text_field :sender_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
