<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :comments_count, style: "display: block" %>
    <%= form.number_field :comments_count %>
  </div>

  <div>
    <%= form.label :likes_count, style: "display: block" %>
    <%= form.number_field :likes_count %>
  </div>

  <div>
    <%= form.label :caption, style: "display: block" %>
    <%= form.textarea :caption %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
