<div id="<%= dom_id photo %>">
  <p>
    <strong>Image:</strong>
    <%= photo.image %>
  </p>

  <p>
    <strong>Comments count:</strong>
    <%= photo.comments_count %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= photo.likes_count %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= photo.caption %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= photo.owner_id %>
  </p>

</div>
